#clients {
    padding: 60px 0;
}
.owl-carousel {
    width: 100%;
    z-index: 1;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
}
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden;
}
.owl-carousel.owl-drag .owl-item{
	/*width: 155px;*/
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#clients img {
  max-width: 100%;
  opacity: 0.5;
  transition: 0.3s;
  padding: 15px 0;
}
#clients img:hover {
  opacity: 1;
}
#clients .owl-nav, #clients .owl-dots {
    margin-top: 5px;
    text-align: center;
}
#clients .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
}
#clients .owl-dot.active {
    background-color: #18d26e;
}