<div class="footer-w3">
	<div class="container">
		<div class="footer-grids">
			<div class="col-md-4 footer-grid">
				<h4>About Us</h4>
				<p>We are a non-profit organization that since 2005 develops social projects in vulnerable communities, serving children, youth and family in order to prevent social problems such as drug addiction, school dropout, violence and crime; promoting a culture of peace and good treatment.</p>
			</div>
			<div class="col-md-4 footer-grid">
			<h4>Know us</h4>
				<div class="footer-grid1">
					<img src="../images/w1.jpg" alt=" " class="img-responsive">
				</div>
				<div class="footer-grid1">
					<img src="../images/w2.jpg" alt=" " class="img-responsive">
				</div>
				<div class="footer-grid1">
					<img src="../images/w4.jpg" alt=" " class="img-responsive">
				</div>
				<div class="footer-grid1">
					<img src="../images/w5.jpg" alt=" " class="img-responsive">
				</div>
				<div class="footer-grid1">
					<img src="../images/w6.jpg" alt=" " class="img-responsive">
				</div>
				<div class="footer-grid1">
					<img src="../images/w2.jpg" alt=" " class="img-responsive">
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-4 footer-grid">
				<h4>Information</h4>
				<ul>
					<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Carrera 75G # 59A - 06 south neighborhood La Estancia Bogotá - Colombia.</li>
					<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>Phones: +57 (1) 4718248 - 3138427487 - 3208577316 - 311 5328180</li>
					<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:fundacionsemillas@yahoo.com"> fundacionsemillas@yahoo.com</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--footer-->
<!---copy--->
<div class="copy-section">
	<div class="container">
		<div class="social-icons">
			<a href="https://www.facebook.com/profile.php?id=1025984981" target="_blank"><i class="icon1"></i></a>
		</div>
		<div class="copy">
			<p>© 2005 Fundación Semillas de Bendición | Virtual Design EyP</a></p>
		</div>
	</div>
</div>