<div class="header">
	<div class="header-top">
		<div class="container">
			<div class="detail">
				<ul>
					<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+57 (1) 4718248 - 3138427487 - 3208577316 - 311 5328180</li>
				</ul>
			</div>
			<div class="indicate">
				<p><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Carerra 75G # 59A - 06 sur barrio La Estancia Bogotá - Colombia.</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!---Brand and toggle get grouped for better mobile display--->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>				  
					<div class="navbar-brand">
						<h1><a href="index.html"><img src="./images/logo1.min.png" alt=""></a></h1>
					</div>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<nav class="link-effect-2 ss-no-overflow" id="link-effect-2">
						<ul class="nav navbar-nav ss-menu-header">
							<li class="ss-menu-items index"><a href="index.html"><span data-hover="Inicio">Inicio</span></a></li>
							<li class="ss-menu-items about"><a href="about.html"><span data-hover="Nosotros">Nosotros</span></a></li>
							<li class="ss-menu-items programs"><a href="programs.html"><span data-hover="Programas">Programas</span></a></li>
							<li class="ss-menu-items helpus"><a href="helpus.html"><span data-hover="Ayúdanos">Ayúdanos</span></a></li>
							<li class="ss-menu-items portfolio"><a href="portfolio.html"><span data-hover="Portafolio">Portafolio</span></a></li>
							<li class="ss-menu-items gallery"><a href="gallery.html"><span data-hover="Galería">Galería</span></a></li>
							<li class="ss-menu-items contacus"><a href="contact.html"><span data-hover="Contáctanos">Contáctanos</span></a></li>
							<li class="ss-menu-items contacus"><a href="./en/index.html"><img class="ss-flag-lenguaje" src="./images/englishFlag.png" alt=""><span data-hover="English">English</span></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</nav>
	</div>
</div>